<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>{{title}}</h1>



<div id = "Login">
	<a routerLink = "login" routerLinkActive = "active" *ngIf="!logged">Zaloguj</a>
	<a routerLink = "rejestracja" routerLinkActive = "active">Rejestracja</a>
</div>

<div (click)="isAdminPanelClicked=switchValue(isAdminPanelClicked)">Panel Administratorski</div>

<div id = "adminPanel" *ngIf = "isAdminPanelClicked">
	<div (click)="isAddBandClicked=switchValue(isAddBandClicked)">Dodaj Zespół</div>
</div>
<div *ngIf = "isAddBandClicked">
	dodaj co?
	<input type="text">

</div>


 <router-outlet></router-outlet>
</div>



