<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>{{title}}</h1>



<div id = "Login">
	<a routerLink = "login" routerLinkActive = "active" *ngIf="!logged">Zaloguj</a>
	<a routerLink = "rejestracja" routerLinkActive = "active">Rejestracja</a>
	<a href='http://localhost:4200/'>Powrót</a>
</div>
	 <router-outlet></router-outlet>
<br><br>
<div>
<div id='side'>
<div id='admin' (click)="isAdminPanelClicked=switchValue(isAdminPanelClicked)">Panel Administratorski</div>

	<div id = "adminPanel" *ngIf = "isAdminPanelClicked">
		<div class="clicker" (click)="isAddBandClicked=switchValue(isAddBandClicked)">Dodaj Zespół</div>
		<div class="clicker" (click)="isFindBandByNameClicked=switchValue(isFindBandByNameClicked)">Wyszukaj Zespół</div>
		<div class="clicker" (click)="isAddAlbumClicked=switchValue(isAddAlbumClicked)">Dodaj Album</div>
		<div class="clicker" (click)="isFindAlbumByNameClicked=switchValue(isFindAlbumByNameClicked)">Wyszukaj Album</div>
		<div class="clicker" (click)="isAddMusicianClicked=switchValue(isAddMusicianClicked)">Dodaj artyste</div>
		<div class="clicker" (click)="isFindMusicianByNameClicked=switchValue(isFindMusicianByNameClicked)">Wyszukaj artyste</div>
		<div class="clicker" (click)="isAddSongClicked=switchValue(isAddSongClicked)">Dodaj piosenke</div>
		<div class="clicker" (click)="isFindSongByNameClicked=switchValue(isFindSongByNameClicked)">Wyszukaj piosenke</div>
	</div>
</div>
<div id='content'>
<div *ngIf = "isAddBandClicked">
	<app-add-band></app-add-band>
</div>
<div *ngIf = "isFindBandByNameClicked">
	<app-find-band-by-name></app-find-band-by-name>
</div>

<div *ngIf = "isAddAlbumClicked">
	<app-add-album></app-add-album>
</div>
<div *ngIf = "isFindAlbumByNameClicked">
	<app-find-by-album-name></app-find-by-album-name>
</div>


<div *ngIf = "isAddMusicianClicked">
	<app-add-musicians></app-add-musicians>
</div>
<div *ngIf = "isFindMusicianByNameClicked">
	<app-find-by-album-name></app-find-by-album-name>
</div>

<div *ngIf = "isAddSongClicked">
	<app-songs-add></app-songs-add>
</div>
<div *ngIf = "isFindSongByNameClicked">
	<app-find-by-song-name></app-find-by-song-name>
</div>

</div>



