<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>{{title}}</h1>



<div id = "Login">
	<a routerLink = "login" routerLinkActive = "active" *ngIf="!logged">Zaloguj</a>
	<a routerLink = "rejestracja" routerLinkActive = "active">Rejestracja</a>
</div>
	 <router-outlet></router-outlet>
<br><br>
<div (click)="isAdminPanelClicked=switchValue(isAdminPanelClicked)">Panel Administratorski</div>

<div id = "adminPanel" *ngIf = "isAdminPanelClicked">
	<div (click)="isAddBandClicked=switchValue(isAddBandClicked)">Dodaj Zespół</div>
	<div (click)="isFindBandByNameClicked=switchValue(isFindBandByNameClicked)">Wyszukaj Zespół</div>
</div>
<div *ngIf = "isAddBandClicked">
	<app-add-band></app-add-band>
</div>
<div *ngIf = "isFindBandByNameClicked">
	<app-find-band-by-name></app-find-band-by-name>
</div>



</div>



