<p>
  	Imie: <input type = "text" [(ngModel)]="firstName"><br>
  	Nazwisko: <input type = "text" [(ngModel)]="lastName"><br>
  	Pseudonym: <input type = "text" [(ngModel)]="pseudonym"><br>
  	Zespół: <input type = "text" [(ngModel)]="bandName"><br>
	Data urodzenia: <input type = "date" [(ngModel)]="birthday"><br>
  	Kraj pochodzenia: <input type = "text" [(ngModel)]="origin"><br>
  	Instrument: <input type = "text" [(ngModel)]="instrument"><br>
	<button (click)="addMusician()">Dodaj artyste</button>
</p>
