<p>
  <input type = "text" [(ngModel)]="bandName">
  	<button (click)="findByBandName()">Wyszukaj</button>
  	<button (click)="findAll(); searchedAll=switchValue(searchedAll)">Wyszukaj wszystkie</button>
</p>
	<div *ngIf="searched">
		<div *ngIf="bandSearched.getBandName()!==''">
			{{bandSearched.getBandName()}}, {{bandSearched.getYearOfCreation()}}, {{bandSearched.getOrigin()}}
		</div>
		<div *ngIf="bandSearched.getBandName()==''">
			Brak Wyników wyszukiwania
		</div>
	</div>
	<div *ngIf="searched">
		<button (click)="deleteBand()">Usuń zespół</button>
		<button (click)="edit=switchValue(edit)">Edytuj Zespół</button>
	</div>
	<div *ngIf="edit">

	Nazwa zespołu: <input type = "text" [(ngModel)]="editBandName"><br>
	Rok utworzenia: <input type = "text" [(ngModel)]="yearOfCreation"><br>
	Kraj: <input type = "text" [(ngModel)]="origin"><br>
	<button (click)="editBand()">Zatwierdź</button>
	</div>

<div *ngIf="searchedAll">

	<div *ngFor="let bandAll of bandAll">
		{{bandAll.getBandName()}}, {{bandAll.getYearOfCreation()}}, {{bandAll.getOrigin()}} 
	</div>

	<div *ngIf="bandAll.length==0">
		Brak wyników wyszukiwania
	</div>
</div>
